
LinqDome/bin/Debug/netcoreapp3.1/LinqDome.dll
LinqDome/bin/Debug/netcoreapp3.1/LinqDome.pdb
LinqDome/obj/Debug/netcoreapp3.1/LinqDome.dll
LinqDome/obj/Debug/netcoreapp3.1/LinqDome.pdb
LinqDome/bin/Debug/netcoreapp3.1/LinqDome.runtimeconfig.dev.json
LinqDome/bin/Debug/netcoreapp3.1/LinqDome.dll
LinqDome/bin/Debug/netcoreapp3.1/LinqDome.deps.json
LinqDome/bin/Debug/netcoreapp3.1/LinqDome.exe
LinqDome/bin/Debug/netcoreapp3.1/LinqDome.pdb
LinqDome/bin/Debug/netcoreapp3.1/LinqDome.runtimeconfig.dev.json
LinqDome/bin/Debug/netcoreapp3.1/LinqDome.runtimeconfig.json
LinqDome/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
LinqDome/obj/Debug/netcoreapp3.1/apphost.exe
LinqDome/obj/Debug/netcoreapp3.1/LinqDome.AssemblyInfo.cs
LinqDome/obj/Debug/netcoreapp3.1/LinqDome.AssemblyInfoInputs.cache
LinqDome/obj/Debug/netcoreapp3.1/LinqDome.assets.cache
LinqDome/obj/Debug/netcoreapp3.1/LinqDome.csproj.CoreCompileInputs.cache
LinqDome/obj/Debug/netcoreapp3.1/LinqDome.csproj.FileListAbsolute.txt
LinqDome/obj/Debug/netcoreapp3.1/LinqDome.csprojAssemblyReference.cache
LinqDome/obj/Debug/netcoreapp3.1/LinqDome.dll
LinqDome/obj/Debug/netcoreapp3.1/LinqDome.genruntimeconfig.cache
LinqDome/obj/Debug/netcoreapp3.1/LinqDome.pdb
LinqDome/obj/LinqDome.csproj.nuget.dgspec.json
LinqDome/obj/LinqDome.csproj.nuget.g.props
LinqDome/obj/LinqDome.csproj.nuget.g.targets
LinqDome/obj/project.assets.json
LinqDome/obj/project.nuget.cache
